body {
  background-color: red;
}
p {
  color: red;
  position: fixed;
  transform: translate(90px, -26px);
  font-size: 20px;
}
#err {
  position: fixed;
  transform: translate(-90px, 20px);
}
button {
  background: transparent;
  color: whitesmoke;
  border-radius: 5px;
}
#lable {
  position: absolute;
  /* padding-left: 234px;
  padding-top: 37px; */
  transform: translate(114px, 13px);
}
button {
  width: 200px;
  padding: 5px;
  border-radius: 20px;
  font-weight: 700;
  cursor: pointer;
  background: transparent;
  color: whitesmoke;
  border: 1px solid gray;
}
